<div class="card" >
    <div class="card__row" data-tokenizer-error-wrap="pan">
        <label for="card_numb" class="label"><%= t('numberTitle') %></label>
        <div class="card__type" data-tokenizer-card-type></div>
        <input placeholder="____ ____ ____ ____"  data-tokenizer-element="pan" />
    </div>
    <div class="card__error" data-tokenizer-error="pan"></div>
    <div class="card__row">
        <div class="card__expDate" data-tokenizer-error-wrap="expDate">
          <div class="card__day">
              <label for="" class="label"><%= t('expDateTitle') %></label>
              <div class="spinner">
                  <input data-tokenizer-element="expMonth" />
              </div>
          </div>
          <div class="card__year">
              <div class="spinner">
                  <input data-tokenizer-element="expYear" />
              </div>
          </div>
          <div class="card__error" data-tokenizer-error="expDate"></div>
        </div>
        <div class="card__cvv" data-tokenizer-error-wrap="cvv">
            <label for="cvv" class="label"><%= t('cvvTitle') %></label>
            <input data-tokenizer-element="cvv" />
            <div class="card__error" data-tokenizer-error="cvv"></div>
        </div>
    </div>
</div>
