a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}
body,
html {
    height: 100%
}
a img,
fieldset,
img {
    border: none
}
input[type=email],
input[type=password],
input[type=tel],
input[type=text],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0
}
textarea {
    overflow: auto
}
button,
input {
    margin: 0;
    padding: 0;
    border: 0
}
button::-moz-focus-inner {
    border: 0;
    padding: 0
}
button,
input[type=submit] {
    cursor: pointer
}
a,
a:focus,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
span,
textarea {
    outline: none
}
ol,
ul {
    list-style-type: none
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    * {
        -webkit-text-size-adjust: none
    }
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%
}
html {
    box-sizing: border-box
}
*,
:after,
:before {
    box-sizing: inherit
}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both
}

.label {
  margin-bottom: 4px;
  width: 100%;
  font-family: Raleway-Bold, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block
}
.label+input+.input-req {
  top: 59px
}
.label.is-small {
  font-size: 12px;
  opacity: .5
}
.label.is-light,
.label.is-small {
  font-family: Raleway-Regular, Arial, sans-serif
}
.label.is-required:after {
  position: relative;
  content: '*';
  color: #fe4723;
  opacity: .8;
  font-size: 25px;
  top: 3px;
  right: -4px
}
div.label,
span.label {
  cursor: text
}

.card {
  padding: 32px 35px 38px 32px;
  min-width: 320px;
  color: #fff;
  font-family: Raleway-Bold, Arial, sans-serif;
  font-size: 13px;
  text-align: left;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 1px 1.7px 4px rgba(43, 43, 43, .1);
  background-image: -webkit-linear-gradient(52deg, #3e0b66, #324da6);
  background-image: linear-gradient(38deg, #3e0b66, #324da6)
}

.card.is-bg {
  background: url(/static/card-bg.png?7a33eb32c0fa6a1e876bdf9eb640a03c) 0 0 no-repeat;
  background-size: cover
}
.card.is-otp {
  position: relative;
  background-image: -webkit-linear-gradient(bottom, #e9fffe, #fff 58%, #fff);
  background-image: linear-gradient(0deg, #e9fffe 0, #fff 58%, #fff);
  border: 1px solid #7bc43d;
  color: #2b2b2b
}
.card.is-otp:before {
  position: absolute;
  content: "";
  top: 23px;
  right: 37px
}
.card.is-disabled {
  opacity: .5
}
.card__error {
  margin-top: 5px;
  font-size: 11px
}
.card .is-error input {
  border: 1px solid red;
  background-color: #ffe7e7
}
.card__error-right {
  text-align: right
}
.card__row {
  position: relative;
  margin-top: 15px;
  *zoom: 1
}
.card__row:after {
  content: " ";
  display: table;
  clear: both
}
.card__row:first-child {
  margin-top: 0
}
.card__cvv {
  float: right;
  margin-left: 25px;
  width: 75px;
  /*text-transform: uppercase;*/
  font-size: 12px
}
.card__cvv .card__error {
  float: right;
  text-align: right;
  width: 120px;
}

.card__cvv .label {
  font-family: Geometria-Bold, Arial, sans-serif
}
.card__type {
  position: absolute;
  right: 14px;
  bottom: 10px
}
.card__type img {
  display: block
}
.card__expDate {
  float: left;
  width: 140px;
  font-size: 0;
}
.card__expDate .label {
  font-size: 13px;
}
.card__day,
.card__year {
  width: 65px;
  display: inline-block;
}
.card .label {
  white-space: nowrap
}
.card .label .spinner input {
  padding-left: 20px
}
.card__year {
  margin-left: 8px;
  padding-top: 21px
}
.card input {
  padding: 0 4px;
  height: 30px;
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d1d9dc;
  border-radius: 4px;
  display: block
}
.card input:-webkit-autofill {
  -webkit-animation-name: autofill-white
}
.card input.is-error:-webkit-autofill {
  -webkit-animation-name: autofill-red
}
.card .label {
  margin-bottom: 5px
}
