<!doctype html>
<html>
<head>
  <title>Card - Tokenizer Web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#fff">
  <script>
    window.LANGPACK = "<%- langpack %>";
  </script>
</head>
<body>
  <style type="text/css">
    <%- css %>
  </style>
  <div id="root">
    <%- html %>
  </div>
  <script src="/dist/card.js"></script>
</body>
</html>
