<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo app</title>
  </head>
  <body>
    <iframe src="/cards/default" name="card_frame"></iframe>
    <div id="preview"></div>
    <button onclick="sendToken()">Get token</button>
    <script src="/public/demo.js"></script>
  </body>
</html>
